<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/style/comp-3.css" />
  </head>
  <body>
    <section id="energia">
      <aside>
        <h2>OSZCZEDZANIE ENERGII</h2>

        <p class="text-box">
          Oszczędzanie energii to prosty, ale skuteczny sposób na zmniejszenie naszego
          wpływu na środowisko. Nadmierne zużycie energii przyczynia się do emisji gazów
          cieplarnianych, które napędzają zmiany klimatyczne i zanieczyszczają atmosferę.
          Aby ograniczyć te negatywne skutki, warto zwrócić uwagę na swoje codzienne
          nawyki związane z zużyciem energii i starać się je optymalizować.
        </p>
      </aside>

      <article>
        <h4>JAK TO ROBIĆ?</h4>
        <div class="options">
          <div class="option-area"><p>WYŁĄCZ ŚWIATŁO PO WYJŚCIU Z POMIESZCZENIA</p></div>
          <div class="option-area"><p>ODŁĄCZ URZĄDZENIA ELEKTRYCZNE Z GNIAZDEK</p></div>
          <div class="option-area"><p>ZAINWESTUJ W ENERGOOSZCZĘDNY SPRZĘT</p></div>
          <div class="option-area"><p>MODERNIZUJ OGRZEWANIE I IZOLUJ SWÓJ DOM</p></div>
          <div class="option-area">
            <p>PANELE FOTOWOLTAICZNE LUB KOLEKTORY SŁONECZNE</p>
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
