<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/style/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer__sources">
        <p class="footer__sources--title">SOURCES</p>
        <p><a href="https://www.flaticon.com">ICONS</a></p>
        <p><a href="https://unsplash.com">PICTURES</a></p>
      </div>
      <img src="/public/pictures/logo.png" alt="LOGO" width="100" height="80" />
      <div class="footer__authors">
        <p class="footer__authors--title">AUTHORS</p>
        <p>Oliwia Ustrzynska</p>
        <p>Alicja Cielecka</p>
        <p>Ewelina Szylar</p>
      </div>
    </footer>
  </body>
</html>
