<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eko strona</title>
    <link rel="stylesheet" href="/public/style/header.css" />
  </head>
  <body>
    <header>
      <div class="header__navbar">
        <div class="header__navbar--logo">
          <img src="/public/pictures/logo.png" alt="logo" width="100" height="80" />
        </div>
        <div class="header__navbar--menu">
          <ul class="menu">
            <li class="menu__option">
              <a href="#recykling">RECYKLING</a>
            </li>
            <li class="menu__option">
              <a href="#ochrona">OCHRONA ŚRODOWISKA</a>
            </li>
            <li class="menu__option">
              <a href="#energia">OSZCZĘDZANIE ENERGII</a>
            </li>
            <li class="menu__option">
              <a href="#quizz">QUIZ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__text">
        <p class="header__title">
          ZMIENIAJ ŚWIAT <br /><span class="header__subtitle">NIE KLIMAT</span>
        </p>
      </div>
      <div class="header__bglink">
        <img
          src="/public/pictures/link__icon.png"
          alt="link"
          width=" "
          height=" "
          class="header__bglink--img"
        />
        <p class="header__link"><a href="https://unsplash.com">background link</a></p>
      </div>
    </header>
  </body>
</html>
